{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="h1-large">Le département informatique de la faculté des sciences et techniques de Marrakech</h1>
                        <a class="btn-solid-lg" href="#splitt">Découvrir</a>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
        
        <!-- Video Background -->
        <video autoplay loop muted id="video-background" poster="/style/images/header-background.jpg" playsinline>
            <source src="/img/Computer.mp4" type="video/mp4" />
        </video>
        <!-- end of video background -->

    </header> <!-- end of header -->
    <!-- end of header -->
    <!-- Details -->
	<div id='splitt' class="split">
		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">     
                        
                        <!-- Text Container -->
                        <div class="text-container">
                            <h2>Why Work With Us</h2>
                            <p>Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on comparison up</p>
                            <p><strong>EXPERIENCE -</strong> insipidity especially discovered me of decisively in surrounded. Points six way enough she its</p>
                            <p><strong>PASSION -</strong> On recommend tolerably my belonging or am. Mutual has cannot beauty indeed now sussex merely</p>
                            <p><strong>CREATIVITY -</strong> possible no husbands jennings ye offended packages pleasant he recommend engrossed</p>
                        </div> <!-- end of text-container -->
                        <!-- end of text container -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
		</div> <!-- end of area-2 -->
    </div> <!-- end of split -->
    <!-- end of details -->
    <!-- Services 1 -->
    <div id="services" class="basic-1">
        {% for evenement in evenements %}
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src={{ evenement.image }} alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>{{ evenement.nom }}</h2>
                        <p>{{ evenement.description }}</p>
                        <a class="read-more no-line green" href="article.html">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
        {% endfor %}
    <!-- end of services 1 -->
    

      <!-- Scripts -->
    <script src="../../assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../../assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../../assets/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="../../assets/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="../../assets/js/scripts.js"></script> <!-- Custom scripts -->



{% endblock %}
